Tugas 5 Pengembangan AI tanpa Koding.json
{
  "name": "RAQ pipeline",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -128
      ],
      "id": "1eb13d8c-4feb-4b08-b9c9-2573904d78b8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ubL0MnNtqkdzmWpt",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        16
      ],
      "id": "f2250d7e-40ad-4177-bcf1-07141a68eabb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        96
      ],
      "id": "5c8a89ee-3f69-4c02-8bff-f3d017ab70f5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aDTThaUVVQDJtKo9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        208,
        -128
      ],
      "id": "16789b8a-ca49-49f2-b91a-746273df2808",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "822Hvpx6Cq11wgVh",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hai Sob! 👋\nSaya Jeckjoo, ada yang bisa dibantu?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -368,
        320
      ],
      "id": "fbadc956-0bc1-4144-ae35-fc43a1a8205f",
      "name": "When chat message received",
      "webhookId": "5914b749-99fe-4c15-b479-aad788e4a37d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas akhir (TA). Gunakan tool Supabase Vector Store untuk memberikan bantuan.\n\nJika informasi tidak tersedia dalam database yang disediakan, jangan menjawab dengan mengarang sendiri, tetapi berikan jawaban “Maaf, saya belum dapat menjawab karena saya temukan dalam informasi yang tersedia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        320
      ],
      "id": "4142ca00-e09f-44f4-ba0b-45b68e9a789b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        544
      ],
      "id": "0006832e-7bf5-4ff6-bc54-480f167a66d2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WbOB1GEKoLQ1IKgu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -16,
        576
      ],
      "id": "8bdbefdd-cd61-4060-bc87-8a189d3caf94",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ppn520Im3vDgUlRw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1KtKRdQFySeua0a4_ofmDTxX4rzPIheU8",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsiii",
          "cachedResultUrl": "https://drive.google.com/file/d/1KtKRdQFySeua0a4_ofmDTxX4rzPIheU8/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -128
      ],
      "id": "99003bbe-67a0-4ba9-ae96-c68022207849",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ubL0MnNtqkdzmWpt",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e44192a8-d413-4d99-b535-29b4a1c61b98",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -128
      ],
      "id": "2adc1edf-6f3a-48bb-aa20-00746f29fca5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        -128
      ],
      "id": "5a150443-7b0a-4a29-b305-ffe0dbda8085",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": " Panggil Tool Supabase Vector Store ini untuk mendapatkan informasi panduan menulis tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        272,
        432
      ],
      "id": "9f6ee2be-5fb2-40b8-9ef4-2cd02f307050",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "822Hvpx6Cq11wgVh",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "17efe900-b5a1-4254-9ea4-80e1e6b289e2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f3f2788d-2cae-4cb2-845d-4c6e6bba7d55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc7f0c6ec9ef097a38a47a47954dada235847cf8f8b7b37db8c2cf52c145d765"
  },
  "id": "itD0Qw6zNOyS8t8t",
  "tags": []
}