Tugas 3 AI For Pemasaran.json
{
  "name": "Generate Video Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Video Generate Konten Otomatis",
        "formDescription": "Isi informasi dibawah ini untuk memulai generate video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "placeholder": "Isi prompt...",
              "requiredField": true
            },
            {
              "fieldLabel": "img_url",
              "placeholder": "Isi img URL..."
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        16,
        0
      ],
      "id": "f96a1e51-02ad-4360-b678-cd52459e1875",
      "name": "On form submission",
      "webhookId": "706356fa-25e1-4a35-8e26-67c87e13db12"
    },
    {
      "parameters": {
        "name": "implementasi video topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        -16
      ],
      "id": "ddb7669e-7923-4e63-8972-9cb97d1938b3",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bHziLpoGkM9VqFJc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{$json.img_url}}\"\n    ],\n    \"prompt\": \"{{ $json.Prompt }}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "38e55b8c-1ea7-41cf-aff8-698882ba0dd7",
      "name": "Mengirim Video Generate"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('On form submission').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "14eb0ff8-0fde-4e62-b863-a39c938ceb3c",
      "name": "Status Generate"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -16
      ],
      "id": "bedd810b-ee51-49b1-b6ca-f6aabf4c792a",
      "name": "Download video"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n    videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -16
      ],
      "id": "c874d569-5f88-486c-bdfc-bc66565e7969",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "449bf4b6-6221-4826-94a8-5af07823d7d5",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "ed829b5d-e304-43ea-a6ed-90e68b550c26",
      "name": "Check Jika Succes"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "126acaa3-d936-4c50-8607-87cfe9302a52",
      "name": "Menunggu Proses Generate Video",
      "webhookId": "2be138f1-f06b-431b-aaaa-975bbc757b3f"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim Video Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generate": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Succes": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "969ee4d8-b69a-4af8-aef4-1636a0de0c06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc7f0c6ec9ef097a38a47a47954dada235847cf8f8b7b37db8c2cf52c145d765"
  },
  "id": "JnzFN8GpDI7m0YyB",
  "tags": []
}
